* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content:"";
  display:table;
}

.clearfix:after{
  clear:both;
}

body {
	padding: 0;
	margin: 0;
}

nav {
	width: 10%;
	height: 100%;
  	position: fixed;
  	background-color: white;
  	left: 0;
  	top: 0;
  	display: block;
  	position: center;
  	font-size: 20px;
}

nav a {
	text-decoration: none;
	font-style: normal;
	color: black;
	display: inline-block;
	padding: 20px;
	margin-left: 30px;

}

nav a.active {
  text-decoration: underline;
  font-style: bold;
}

section#home {
	width: 100%;
	height: 900px;
	background: url(../images/unsplash_525f012329589_1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	text-align: center;
	font-size: 60px;
	padding-top: 300px;
	margin: 0;
}

section#home p {
	text-align: center;
	/*width: 60%;
	margin-left: 20%;
	margin-right: 20%;*/
	font-size: 30px;
	position: relative;
}

h2 {
	text-align: left;
	font-size: 30px;
	padding-top: 10px;
}

h4 {
	text-align: left;
	text-decoration: none;
}

#textBlock {
	width: 60%;
	/*background: url(../images/unsplash_525f012329589_1.jpg) no-repeat center center fixed; 
	/*opacity: 0.4;
    filter: alpha(opacity=40);*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-left: 20%;
	margin-right: 20%;
}

section#tech {
	padding-top: 5%;
	width: 100%;
	height: 900px;
	background: url(../images/unsplash_525f012329589_1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

section#apps {
	width: 100%;
	height: 900px;
	background: url(../images/unsplash_525f012329589_1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

section#commonSense {
	padding-top: 5%;
	width: 100%;
	height: 900px;
	background: url(../images/unsplash_525f012329589_1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

section#banking {
	padding-top: 5%;
	width: 100%;
	height: 950px;
	background: url(../images/unsplash_525f012329589_1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

section#safety {
	padding-top: 5%;
	width: 100%;
	height: 750px;
	background: url(../images/unsplash_525f012329589_1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

section#inTransit {
	padding-top: 5%;
	width: 100%;
	height: 950px;
	background: url(../images/unsplash_525f012329589_1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

section#packing {
	width: 100%;
	height: 900px;
	background: url(../images/unsplash_525f012329589_1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

section#winningGear {
	padding-top: 5%;
	width: 100%;
	height: 750px;
	background: url(../images/unsplash_525f012329589_1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

section#about {
	width: 100%;
	height: 750px;
	background: white 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

